<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/fonts (2).css" />
    <link rel="stylesheet" href="./css/fonts.css" />
    <link rel="stylesheet" href="./css/icomoon/style.css" />
    <link rel="stylesheet" href="./css/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="./css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./css/style (4).css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
    <link rel="stylesheet" href="./css/style (5).css">
</head>

<body>
    <div class="page-wrapper">
        <header>
            <div class="containers">
                <div class="logo">
                    <!-- <h1>PH<span><img src="./images/logo.png" alt=""></span>TO<span class="photo-g">G</span></h1> -->
                    <a href="./index.html">
                        <img src="./images/Screenshot 2023-03-01 021642.png" alt="" />
                    </a>
                </div>
                <nav>
                    <input type="checkbox" name="" class="show-none" id="show-burger" />
                    <ul>
                        <label for="show-burger">
                            <i class="icon-close style-close" id="closebtn"></i>
                        </label>
                        <li><a href="./services.html">Services</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="./contact.html">Contact Us</a></li>
                        <li><a href="./faqs.html">FAQs</a></li>
                    </ul>
                </nav>
                <!-- <div class="signup">
                <a href="">
                  <button>Signup</button>
                </a>
              </div> -->
                <li class=" nav-profile dropdown-boss account">
                    <a class="nav-img" href="#">
                        <img src="images/faces/face28.jpg" alt="profile" />
                    </a>
                    <div class="dropdown-container" aria-labelledby="profileDropdown">
                        <a class="dropdown-item">
                            <i class="ti-settings text-primary"></i>
                            Settings
                        </a>
                        <a class="dropdown-item" href="./index (3).html">
                            <i class="ti-settings text-primary"></i>
                            Dashboard
                        </a>
                        <a class="dropdown-item">
                            <i class="ti-power-off text-primary"></i>
                            Logout
                        </a>
                    </div>
                </li>
                <label for="show-burger">
                    <i class="icon-bars" id="closebtn"></i>
                </label>
            </div>
        </header>


        <section class="checkout-section">
            <div class="container">
                <h5>Year 2</h5>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="selected">
                            <h1>Selected Photo(s)</h1>
                            <div class="image">
                                <!-- <div class="back"></div> -->
                                <img src="./images/grad-1.jpeg" alt="">
                            </div>
                            <div class="buttons d-flex">
                                <a href="" class="anchor-button">
                                    <button>Add more photo <i class="icon-add_a_photo"></i></button>
                                </a>
                                <a href="">
                                    <button>Download photos <span>3</span></button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="package">
                            <div class="text d-flex justify-content-between">
                                <h3>Package 1</h3>
                                <h3>$20.00</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="./images/class-1.jpeg" alt="">
                                    <p>Sarah's class photo</p>
                                </div>
                                <div class="col-md-4">
                                    <img src="./images/individual-1.jpeg" alt="">
                                    <p>Sarah's personal photo</p>
                                </div>
                                <div class="col-md-4">
                                    <img src="./images/grad-1.jpeg" alt="">
                                    <p>Sarah's graduation photo</p>
                                </div>
                            </div>
                            <div class="package-button d-flex justify-content-between">
                                <a href="" class="anchor-buttons">
                                    <button>View Package</button>
                                </a>
                                <a href="">
                                    <button>Delete <i class="icon-delete"></i></button>
                                </a>
                                <a href="">
                                    <i class="icon-shopping-cart cart"></i>
                                </a>
                            </div>
                        </div>
                        <hr>

                        <div class="package">
                            <div class="text d-flex justify-content-between">
                                <h3>Package 2</h3>
                                <h3>$15.00</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="./images/class-1.jpeg" alt="">
                                    <p>Sarah's class photo</p>
                                </div>
                                <div class="col-md-4">
                                    <img src="./images/unique-1.jpeg" alt="">
                                    <p>Sarah's project photo</p>
                                </div>
                            </div>
                            <div class="package-button d-flex justify-content-between">
                                <a href="" class="anchor-buttons">
                                    <button>View Package</button>
                                </a>
                                <a href="">
                                    <button>Delete <i class="icon-delete"></i></button>
                                </a>
                                <a href="">
                                    <i class="icon-shopping-cart cart"></i>
                                </a>
                            </div>
                        </div>
                        <div class="checkout-button">
                            <a href="./summary.html">
                                <button>Checkout <i class="icon-arrow-right"></i></button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <section class="sarah-section" id="sarah-section">
            <div class="container-md">
                <div class="heading">
                    <h1>Suggestions</h1>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8 heading" id="heading">
                                <h1>
                                    Class Photos
                                </h1>
                            </div>
                            <div class="col-md-4 unique-btn pb-lg-5" id="unique-btn">
                                <a href="./services.html">
                                    <button>
                                        View more photos
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="featured-carousel owl-carousel">
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/class-1.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal1();currentSlide1(1)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/class-2.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal1();currentSlide1(2)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/class-3.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal1();currentSlide1(3)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/class-4\ \(1\).jpg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal1();currentSlide1(4)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/class-5.jpg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal1();currentSlide1(5)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/class-6.jpg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal1();currentSlide1(6)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div id="2-Modal" class="modal">
            <div class="modal-content">
                <span class="close cursor" onclick="closeModal1()"><i class="icon-close demi-close"></i></span>
                <div class="mySlides 1-Slide">
                    <div class="numbertext">1 / 6</div>
                    <img src="./images/class-1.jpeg" style="width: 100%" />
                </div>

                <div class="mySlides 1-Slide">
                    <div class="numbertext">2 / 6</div>
                    <img src="images/class-2.jpeg" style="width: 100%" />
                </div>

                <div class="mySlides 1-Slide">
                    <div class="numbertext">3 / 6</div>
                    <img src="./images/class-3.jpeg" style="width: 100%" />
                </div>

                <div class="mySlides 1-Slide">
                    <div class="numbertext">4 / 6</div>
                    <img src="./images/class-4 (1).jpg" style="width: 100%" />
                </div>

                <div class="mySlides 1-Slide">
                    <div class="numbertext">5 / 6</div>
                    <img src="./images/class-5.jpg" style="width: 100%" />
                </div>

                <div class="mySlides 1-Slide">
                    <div class="numbertext">6 / 6</div>
                    <img src="./images/class-6.jpg" style="width: 100%" />
                </div>

                <!-- Next/previous controls -->
                <a class="prev" onclick="plusSlide1(-1)">&#10094;</a>
                <a class="next" onclick="plusSlide1(1)">&#10095;</a>

                <!-- Caption text -->
                <div class="caption-container">
                    <p id="caption"></p>
                </div>

            </div>
        </div>

        <section class="sarah-section form--hidden" id="sarah-section">
            <div class="container-md">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8 heading" id="heading">
                                <h1>
                                    <span>Sarah's</span> Class Photos
                                </h1>
                            </div>
                        </div>
                        <div class="featured-carousel owl-carousel">
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/class-1.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal();currentSlide(2)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/class-2.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal();currentSlide(2)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/class-3.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal();currentSlide(2)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/class-4\ \(1\).jpg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal();currentSlide(2)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/class-5.jpg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal();currentSlide(2)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/class-6.jpg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal();currentSlide(2)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="individual-section" id="individual-section">
            <div class="container-md">
                <div class="row">
                    <div class="col-md-12 text-center">
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8 heading" id="heading">
                                <h1>
                                    Individual Photos
                                </h1>
                            </div>
                            <div class="col-md-4 unique-btn pb-lg-5" id="unique-btn">
                                <a href="./services.html">
                                    <button>
                                        View more photos
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="featured-carousel owl-carousel">
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/individual-1.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal2();currentSlides(1)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/individual-2.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal2();currentSlide2(2)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/individual-3.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal2();currentSlide2(3)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/individual-4.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal2();currentSlide2(4)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/individual-5.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal2();currentSlide2(5)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/individual-6.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal2();currentSlide2(6)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div id="3-Modal" class="modal">
            <div class="modal-content">
                <span class="close cursor" onclick="closeModal2()"><i class="icon-close demi-close"></i></span>
                <div class="mySlides 2-Slide">
                    <div class="numbertext">1 / 6</div>
                    <img src="./images/individual-1.jpeg" style="width: 100%" />
                </div>

                <div class="mySlides 2-Slide">
                    <div class="numbertext">2 / 6</div>
                    <img src="images/individual-2.jpeg" style="width: 100%" />
                </div>

                <div class="mySlides 2-Slide">
                    <div class="numbertext">3 / 6</div>
                    <img src="./images/individual-3.jpeg" style="width: 100%" />
                </div>

                <div class="mySlides 2-Slide">
                    <div class="numbertext">4 / 6</div>
                    <img src="./images/individual-4.jpeg" style="width: 100%" />
                </div>

                <div class="mySlides 2-Slide">
                    <div class="numbertext">5 / 6</div>
                    <img src="./images/individual-5.jpeg" style="width: 100%" />
                </div>

                <div class="mySlides 2-Slide">
                    <div class="numbertext">6 / 6</div>
                    <img src="./images/individual-6.jpeg" style="width: 100%" />
                </div>

                <!-- Next/previous controls -->
                <a class="prev" onclick="plusSlide2(-1)">&#10094;</a>
                <a class="next" onclick="plusSlide2(1)">&#10095;</a>

                <!-- Caption text -->
                <div class="caption-container">
                    <p id="caption"></p>
                </div>

            </div>
        </div>

        <section class="graduation-section" id="graduation-section">
            <div class="container-md">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8 heading" id="heading">
                                <h1>
                                    Graduation Photos
                                </h1>
                            </div>
                            <div class="col-md-4 unique-btn pb-lg-5" id="unique-btn">
                                <a href="./services.html">
                                    <button>
                                        View more photos
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="featured-carousel owl-carousel">
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/grad-1.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal3();currentSlide3(1)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/grad-2.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal3();currentSlide3(2)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/grad-3.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal3();currentSlide3(3)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/grad-4.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal3();currentSlide3(4)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/grad-5.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal3();currentSlide3(2)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center rounded"
                                        style="background-image: url(./images/grad-6.jpeg);">
                                        <div class="layover" id="layover">
                                            <div class="btn" onclick="openModal3();currentSlide3(6)">
                                                <p>Preview photo</p>
                                            </div>
                                            <div class="btn" id="btn">
                                                <p>Select photo</p>
                                            </div>
                                        </div>
                                        <div class="heart">
                                            <a href="">
                                                <i class="icon-heart-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text pt-3 w-100 text-center">
                                        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit........
                                        </h3>
                                        <span>Year 1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="4-Modal" class="modal">
            <div class="modal-content">
                <span class="close cursor" onclick="closeModal3()"><i class="icon-close demi-close"></i></span>
                <div class="mySlides 3-Slide">
                    <div class="numbertext">1 / 6</div>
                    <img src="./images/grad-1.jpeg" style="width: 100%" />
                </div>

                <div class="mySlides 3-Slide">
                    <div class="numbertext">2 / 6</div>
                    <img src="images/grad-2.jpeg" style="width: 100%" />
                </div>

                <div class="mySlides 3-Slide">
                    <div class="numbertext">3 / 6</div>
                    <img src="./images/grad-3.jpeg" style="width: 100%" />
                </div>

                <div class="mySlides 3-Slide">
                    <div class="numbertext">4 / 6</div>
                    <img src="./images/grad-4.jpeg" style="width: 100%" />
                </div>

                <div class="mySlides 3-Slide">
                    <div class="numbertext">5 / 6</div>
                    <img src="./images/grad-5.jpeg" style="width: 100%" />
                </div>

                <div class="mySlides 3-Slide">
                    <div class="numbertext">6 / 6</div>
                    <img src="./images/grad-6.jpeg" style="width: 100%" />
                </div>

                <!-- Next/previous controls -->
                <a class="prev" onclick="plusSlide3(-1)">&#10094;</a>
                <a class="next" onclick="plusSlide3(1)">&#10095;</a>

                <!-- Caption text -->
                <div class="caption-container">
                    <p id="caption"></p>
                </div>

                <!-- Thumbnail image controls -->
                <!-- <div class="row">
                <div class="col-md-2">
                  <img class="demo img-fluid" src="./images/unique-1.jpeg" onclick="currentSlide(1)" />
                </div>
      
                <div class="col-md-2">
                  <img class="demo img-fluid" src="./images/unique-2.jpeg" onclick="currentSlide(2)" />
                </div>
      
                <div class="col-md-2">
                  <img class="demo img-fluid" src="./images/unique-3.jpeg" onclick="currentSlide(3)" />
                </div>
      
                <div class="col-md-2">
                  <img class="demo img-fluid" src="./images/unique-4.jpeg" onclick="currentSlide(4)" />
                </div>
      
                <div class="col-md-2">
                  <img class="demo img-fluid" src="./images/unique-5.jpeg" onclick="currentSlide(5)" />
                </div>
      
                <div class="col-md-2">
                  <img class="demo img-fluid" src="./images/unique-6.jpg" onclick="currentSlide(6)" />
                </div>
              </div> -->
            </div>
        </div>




        <footer class="footer">
            <div class=" slide-content" id="slide-content">
                <div class="row footer-container">
                    <div class="col-lg-2 col-md-3">
                        <h5>About Us</h5>
                        <p><a href="./index.html">Our Team</a></p>
                        <p><a href="./services.html">Career</a></p>
                        <p><a href="#blog-section">Our Goods</a></p>
                        <p><a href="#blog-section">Popular Searches</a></p>
                        <p><a href="#blog-section">PhotoG Blog</a></p>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5>Services</h5>
                        <p><a href="./index.html">Premium Quality</a></p>
                        <p><a href="./services.html">Packages</a></p>
                        <p><a href="#blog-section">Coupons</a></p>
                        <p><a href="#blog-section">Unique Codes</a></p>
                    </div>
                    <div class="col-lg-5 col-md-3">
                        <h5>Contact Us</h5>
                        <p><a href="./index.html"><i class="icon-envelope-o"></i> contact@photog.com</a></p>
                        <p><a href="./index.html"><i class="icon-phone"></i> +872 5648473</a></p>
                        <p><a href="./index.html">Chat with us <i class="icon-arrow-right"></i></a></p>
                    </div>
                    <div class="col-lg-3 col-md-3 dark-logo">
                        <a href="#hero-section">
                            <img src="./images/logo-dark.png" alt="">
                        </a>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-10 footer-script">
                            <p>©
                                <script>document.write(new Date().getFullYear());</script> PhotoG, Inc
                            </p>
                        </div>
                        <div class="col-md-2">
                            <div class="row icons">
                                <div class="col-md-5">
                                    <a href="">
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <h6>Twitter</h6>
                                </div>
                                <div class="col-md-5">
                                    <a href="">
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <h6>Facebook</h6>
                                </div>
                                <div class="col-md-2">
                                    <a href="">
                                        <i class="icon-instagram"></i>
                                    </a>
                                    <h6>Instagram</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>






    <script src="./js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="./js/swiper-bundle.min.js"></script>
    <script src="./js/script (2).js"></script>
    <!-- <script src="./js/js/bootstrap.bundle.min.js"></script> -->
    <!-- plugins:js -->
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="vendors/chart.js/Chart.min.js"></script>
    <script src="vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="js/dataTables.select.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="js/off-canvas.js"></script>
    <script src="./js/hoverable-collapse.js"></script>
    <script src="js/template.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="js/dashboard.js"></script>
    <script src="js/Chart.roundedBarCharts.js"></script>
    <!-- End custom js for this page-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>