<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="stylesheet" href="./css/fonts (2).css" />
  <link rel="stylesheet" href="./css/fonts.css" />
  <link rel="stylesheet" href="./css/icomoon/style.css" />
  <link rel="stylesheet" href="./css/css/bootstrap.min.css" />
  <link rel="stylesheet" href="./css/css/bootstrap.rtl.min.css" />
  <link rel="stylesheet" href="./css/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./css/style (4).css" />
  <link rel="stylesheet" href="./vendors/feather/feather.css">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
</head>

<body>
  <div class="page-wrapper">
    <header>
      <div class="containers">
        <div class="logo">
          <!-- <h1>PH<span><img src="./images/logo.png" alt=""></span>TO<span class="photo-g">G</span></h1> -->
          <a href="./index.html">
            <img src="./images/Screenshot 2023-03-01 021642.png" alt="" />
          </a>
        </div>
        <nav>
          <input type="checkbox" name="" class="show-none" id="show-burger" />
          <ul>
            <label for="show-burger">
              <i class="icon-close style-close" id="closebtn"></i>
            </label>
            <li><a href="./service.html">Services</a></li>
            <li><a href="./about.html">About Us</a></li>
            <li><a href="./contact.html" class="active">Contact Us</a></li>
            <li><a href="./faqs.html">FAQs</a></li>
          </ul>
        </nav>
        <li class=" nav-profile dropdown-boss account">
          <a class="nav-img" href="#">
            <img src="images/faces/face28.jpg" alt="profile" />
          </a>
          <div class="dropdown-container" aria-labelledby="profileDropdown">
            <a class="dropdown-item">
              <i class="ti-settings text-primary"></i>
              Settings
            </a>
            <a class="dropdown-item" href="./index (3).html">
              <i class="ti-settings text-primary"></i>
              Dashboard
            </a>
            <a class="dropdown-item">
              <i class="ti-power-off text-primary"></i>
              Logout
            </a>
          </div>
        </li>
        <!-- <div class="login">
          <a href="./login.html">
            <button>Login</button>
          </a>
        </div> -->
        <label for="show-burger">
          <i class="icon-bars" id="closebtn"></i>
        </label>
      </div>
    </header>

    <!-- contact section starts -->
    <section class="contact" id="contact">
      <div class="form-whole">
        <div class="heading">
          <h1>
            Let us know what you think
          </h1>
        </div>
        <div class="contact-form">
          <form action="">
            <div class="input-bottom" id="name">
              <p>FullName *</p>
              <input type="text" name="" id="" placeholder="e.g Michael Williams" class="input-control" required />
            </div>
            <div class="input-bottom">
              <p>Email Address *</p>
              <input type="text" name="" id="" placeholder="example@gmail.com" class="input-control" required />
            </div>
            <div class="input-bottom">
              <p>Phone Number *</p>
              <input type="text" name="" id="" placeholder="070 333 444 555" class="input-control" required />
            </div>
            <div class="input-bottom">
              <p>Message *</p>
              <input type="text" name="" id="input-control" placeholder="Type your Message" class="input-control"
                required />
            </div>
          </form>
          <div class="btn">
            <a href="">
              <button>Submit</button>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- contact section end -->
  </div>

  <script src="./js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="./js/swiper-bundle.min.js"></script>
  <script src="./js/script (2).js"></script>
  <script src="./js/custom.js"></script>
  <script src="./js/faqkuda.js"></script>
</body>

</html>