<div class="page-wrapper">
        <header>
            <div class="containers">
                <div class="logo">
                    <!-- <h1>PH<span><img src="./images/logo.png" alt=""></span>TO<span class="photo-g">G</span></h1> -->
                    <a href="/">
                        <img src="/images/Screenshot 2023-03-01 021642.png" alt="" />
                    </a>
                </div>
                <nav>
                    <input type="checkbox" name="" class="show-none" id="show-burger" />
                    <ul>
                        <label for="show-burger">
                            <i class="icon-close style-close" id="closebtn"></i>
                        </label>
                        <li><a href="./service.html">Services</a></li>
                        <li><a href="./about.html">About Us</a></li>
                        <li><a href="./contact.html">Contact Us</a></li>
                        <li><a href="./faqs.html">FAQs</a></li>
                    </ul>
                </nav>
                <!-- <div class="account">
                    <a href="">
                        <img src="./images/faces/face1.jpg" alt="">
                        <i class="icon-arrow_drop_down"></i>
                    </a>
                </div> -->

                <label for="show-burger">
                    <i class="icon-bars" id="closebtn"></i>
                </label>
            </div>
        </header>





        <!-- contact section starts -->
        <section class="contact" id="contact">
            <div class="form-whole">
                <div class="head">
                    <h1>
                        Login Details
                    </h1>
                </div>
                <div class="contact-form">
                    <form action="/parent/login" id="loginAccount" method="post">
                        <div class="input-bottom" id="name">
                            <p>Username *</p>
                            <input type="text" name="username" id="signSurname" placeholder="e.g Williams" class="input-control"
                                required />
                        </div>
                        <div class="input-bottom" id="name">
                            <p>Password *</p>
                            <input type="text" name="pwrd" id="signSurname" placeholder="Password" class="input-control"
                                required />
                        </div>
                        
                        <div class="btn">
                            <a href="">
                                <button type="submit" class="btn">Login</button>
                            </a>
                        </div>
                    </form>
                    <p>Don't have an account yet?<a href="/signuppage" >Signup now</a></p>
                    <br>
                    {{!-- <span>Or</span> --}}
                    <a href="/adminloginpage" >Login as admin</a></p>
                </div>
            </div>
        </section>
        <!-- contact section end -->



    </div>