<div class="page-wrapper">

    <header class="header js-header">
        <div class="containers container">
            <div class="logo">
                <!-- <h1>PH<span><img src="./images/logo.png" alt=""></span>TO<span class="photo-g">G</span></h1> -->
                <a href="./index.html">
                    <img src="./images/Screenshot 2023-03-01 021642.png" alt="" />
                </a>
            </div>
            <nav>
                <input type="checkbox" name="" class="show-none" id="show-burger" />
                <ul>
                    <label for="show-burger">
                        <i class="icon-close style-close" id="closebtn"></i>
                    </label>
                    <li><a href="./service.html" class="active">Services</a></li>
                    <li><a href="./about.html">About Us</a></li>
                    <li><a href="./contact.html">Contact Us</a></li>
                    <li><a href="./faqs.html">FAQs</a></li>
                </ul>
            </nav>

            <li class=" nav-profile dropdown-boss account">
                <a class="nav-img" href="#">
                    <img src="images/faces/face28.jpg" alt="profile" />
                </a>
                <div class="dropdown-container" aria-labelledby="profileDropdown">
                    <a class="dropdown-item">
                        <i class="ti-settings text-primary"></i>
                        Settings
                    </a>
                    <a class="dropdown-item" href="./index (3).html">
                        <i class="ti-settings text-primary"></i>
                        Dashboard
                    </a>
                    <a class="dropdown-item">
                        <i class="ti-power-off text-primary"></i>
                        Logout
                    </a>
                </div>
            </li>
            <label for="show-burger">
                <span class="icon-bars" id="closebtn"></span>
            </label>
        </div>
    </header>

    <section class="d-flex justify-content-center bg-github center-section">
        <div class="container">
            <div class="row">
                <div class="center text-center font-weight-bold">
                    <h1>Coming Soon ....</h1>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="">
            <div class="row footer-container">
                <div class="col-lg-2 col-md-3">
                    <h5>About Us</h5>
                    <p><a href="./index.html">Our Team</a></p>
                    <p><a href="./services.html">Career</a></p>
                    <p><a href="#blog-section">Our Goods</a></p>
                    <p><a href="#blog-section">Popular Searches</a></p>
                    <p><a href="#blog-section">PhotoG Blog</a></p>
                </div>
                <div class="col-lg-2 col-md-3">
                    <h5>Services</h5>
                    <p><a href="./index.html">Premium Quality</a></p>
                    <p><a href="./services.html">Packages</a></p>
                    <p><a href="#blog-section">Coupons</a></p>
                    <p><a href="#blog-section">Unique Codes</a></p>
                </div>
                <div class="col-lg-5 col-md-3">
                    <h5>Contact Us</h5>
                    <p>
                        <a href="./index.html"><i class="icon-envelope-o"></i> contact@photog.com</a>
                    </p>
                    <p>
                        <a href="./index.html"><i class="icon-phone"></i> +872 5648473</a>
                    </p>
                    <p>
                        <a href="./index.html">Chat with us <i class="icon-arrow-right"></i></a>
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 dark-logo">
                    <a href="#hero-section">
                        <img src="./images/logo-dark.png" alt="" />
                    </a>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-10 footer-script">
                        <p>
                            ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            PhotoG, Inc
                        </p>
                    </div>
                    <div class="col-md-2">
                        <div class="row icons">
                            <div class="col-md-5">
                                <a href="">
                                    <i class="icon-twitter"></i>
                                </a>
                                <h6>Twitter</h6>
                            </div>
                            <div class="col-md-5">
                                <a href="">
                                    <i class="icon-facebook"></i>
                                </a>
                                <h6>Facebook</h6>
                            </div>
                            <div class="col-md-2">
                                <a href="">
                                    <i class="icon-instagram"></i>
                                </a>
                                <h6>Instagram</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


</div>